#game-board {
	background-color: grey;
	width: 1050px;
	height: 900px;
	position: relative
}

#game-board > * {
	position: absolute;
}

body {
	display: flex;
    justify-content: center;
}

.centered-content {
    display: flex;
    justify-content: center;
	width: 100%;
}


.menu-buttons ul li a{
	color: white;
	text-decoration: none;
}


.menu-buttons ul li {
	display: inline;
	font-size: 48px;
	padding: 24px;
	margin: 12px;
	margin-left: 96px;
	margin-top: 30px;
	background-color: darkslategray;
	border-radius: 8px;
}

.menu-buttons ul :hover{
	background-color: black;
}

.bottom-menu {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.bottom-menu ul{
	background-color: darkslategray;
	height: 64px;
	border-radius: 16px;
}

.bottom-menu ul li{
	display: inline;
	color: white;
	text-align: center;
	font-size: 48px;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 16px;
	padding-left: 4px;
	padding-right: 4px;
}
.bottom-menu ul li a{
	color: white;
	text-decoration: none;
}


.bottom-menu-1 {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.bottom-menu-1 ul :hover{
	background-color: black;
	border-radius: 16px;
	padding-bottom: 8px;
}


.bottom-menu-1 ul{
	background-color: darkslategray;
	height: 64px;
	border-radius: 16px;
}

.bottom-menu-1 ul li{
	display: inline;
	color: white;
	text-align: center;
	font-size: 48px;
	margin-left: 45%;
	margin-right: 45%;
	border-radius: 16px;
	padding-left: 4px;
	padding-right: 4px;
}
.bottom-menu-1 ul li a{
	color: white;
	text-decoration: none;
}
.bottom-menu ul :hover{
	background-color: black;
	border-radius: 16px;
	padding-bottom: 8px;
}
