#game-board {
	background-color: grey;
	width: 700px;
	height: 600px;
	position: relative
}

#game-board > * {
	position: absolute;
}

body {
	display: flex;
    justify-content: center;
}

.column
.centered-content {
    display: flex;
    justify-content: center;
}

.token {
	background-color: red;
	border-radius: 5em;
}