{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
	      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'game/style.css' %}" type="text/css" />
        <title>Welcome to Connect 4!</title>
    </head>

    <body>

      <div class="center-content">
        <img id="back-image" src="{% static 'game/images/background.jpg' %}" alt="Image of Connect 4" style="width:800px; margin-bottom: 24px;">
        <div class="center-content">
          <div class="menu-buttons">
            <ul>
              <li><a href="{% url 'game:one-player' %}">1 Player</a></li>
              <li><a href="{% url 'game:two-player' %}">2 Player</a></li>
            </ul>
          </div>
        </div>
      </div>

      
    
    </body>

</html>
