<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'game/style.css' %}" type="text/css" />
        <title>template.html</title>
    </head>

    <body>

      <div class="center-content">
        <div id="game-board"></div>
      </div>
    
    </body>


    <script>
      let gameBoard = document.querySelector("#game-board");
      var whoseTurn = true;
      for(let i=0; i < 7; i++) {  
          let column = document.createElement('div');
          column.setAttribute("style", `position: absolute; left: ${i * 100}px; top: 0px; height: 600px; width: 100px;`);
          column.id = `column${i}`
          for(let j=0; j < 6; j++) {
            let square = document.createElement('div');
            column.appendChild(square);
            square.setAttribute("style", `position: absolute; left: ${0}px; top: ${j * 100}px; border-width: 2px; border-style: solid; width: 100px; height: 100px; background-color: transparent;`);
          };
          column.onclick = function() {
            for(let k = 0; k < column.children.length; k++) {
              if (column.children[k].style.backgroundColor != 'transparent') {
                if (k === 0) {
                  break;
                } else {
                  if (whoseTurn) {
                    column.children[k - 1].style.backgroundColor = "red";
                    whoseTurn = false;
                  } else {
                    column.children[k - 1].style.backgroundColor = "blue";
                    whoseTurn = true;
                  }
                  break;
                };
              };
              if (k === column.children.length - 1) {
                  if (whoseTurn) {
                    column.children[k].style.backgroundColor = "red";
                    whoseTurn = false;
                  } else {
                    column.children[k].style.backgroundColor = "blue";
                    whoseTurn = true;
                  };
              };
            };
          };
          gameBoard.appendChild(column);
          

          

        };
        gameBoard.onclick = function win() {
          let winArray = [];
          for(let i = 0; i < 7; i++) {
            winArray.push([]);
            for (let j = 0; j < 6; j++) {
              winArray[i].push(0);
            }
          };
          
        };
        

    </script>
</html>
