<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'game/style.css' %}" type="text/css" />
        <title>template.html</title>
    </head>

    <body>

      <div class="center-content">
        <div id="game-board"></div>
      </div>
    
    </body>


    <script>
      let gameBoard = document.querySelector("#game-board");
      var whoseTurn = true;
      for(let i=0; i < 7; i++) {  
          let column = document.createElement('div');
          column.setAttribute("style", `position: absolute; left: ${i * 100}px; top: 0px; height: 600px; width: 100px;`);
          column.id = `column${i}`
          for(let j=0; j < 6; j++) {
            let square = document.createElement('div');
            column.appendChild(square);
            square.setAttribute("style", `position: absolute; left: ${0}px; top: ${j * 100}px; border-width: 2px; border-style: solid; width: 100px; height: 100px; background-color: transparent;`);
          };
          column.onclick = function() {
            for(let k = 0; k < column.children.length; k++) {
              if (column.children[k].style.backgroundColor != 'transparent') {
                if (k === 0) {
                  break;
                } else {
                  if (whoseTurn) {
                    column.children[k - 1].style.backgroundColor = "red";
                    whoseTurn = false;
                  } else {
                    column.children[k - 1].style.backgroundColor = "blue";
                    whoseTurn = true;
                  }
                  break;
                };
              };
              if (k === column.children.length - 1) {
                  if (whoseTurn) {
                    column.children[k].style.backgroundColor = "red";
                    whoseTurn = false;
                  } else {
                    column.children[k].style.backgroundColor = "blue";
                    whoseTurn = true;
                  };
              };
            };
          };
          gameBoard.appendChild(column);
          

          

        };
        gameBoard.onclick = function () {
          let winArray = [];
          let colCount = 7;
          let rowCount = 6;
          let empty = 0;
          let player1 = 1;
          let player2 = 2;
          for (let i = 0; i < colCount; i++) {
            winArray.push([]);
            let currentColumn = document.querySelector(`#column${i}`)
            for (let j = 0; j < rowCount; j++) {
              if (currentColumn.children[j].style.backgroundColor === "red") {
                winArray[i].push(player1);
              } else if (currentColumn.children[j].style.backgroundColor === "blue") {
                winArray[i].push(player2);
              } else {
                winArray[i].push(empty);
              };
            }
          };

          let alertVal = false;
          //Check Vertical
          for (let i = 0; i < colCount; i++) {
            for (let j = 0; j < rowCount - 3; j ++) {
              if (winArray[i][j] !== 0) {
                if (winArray[i][j] === winArray[i][j + 1] && winArray[i][j] === winArray[i][j + 2] && winArray[i][j] === winArray[i][j + 3] ) {
                  alertVal = confirm(`Player ${winArray[i][j]} won!`);
                };  
              };
            };
          };
          //Check Horizontal
          for (let i = 0; i < colCount - 3; i++) {
            for (let j = 0; j < rowCount; j ++) {
              if (winArray[i][j] !== 0) {
                if (winArray[i][j] === winArray[i + 1][j] && winArray[i][j] === winArray[i + 2][j] && winArray[i][j] === winArray[i + 3][j] ) {
                  alertVal = confirm(`Player ${winArray[i][j]} won!`);
                };  
              };
            };
          };
          //Check Diagonal Up
          for (let i = 0; i < colCount - 3; i++) {
            for (let j = 3; j < rowCount; j ++) {
              if (winArray[i][j] !== 0) {
                if (winArray[i][j] === winArray[i + 1][j - 1] && winArray[i][j] === winArray[i + 2][j - 2] && winArray[i][j] === winArray[i + 3][j - 3] ) {
                  alertVal = confirm(`Player ${winArray[i][j]} won!`);
                };  
              };
            };
          };

          //Check Diagonal Down
          for (let i = 0; i < colCount - 3; i++) {
            for (let j = 0; j < rowCount - 3; j ++) {
              if (winArray[i][j] !== 0) {
                if (winArray[i][j] === winArray[i + 1][j + 1] && winArray[i][j] === winArray[i + 2][j + 2] && winArray[i][j] === winArray[i + 3][j + 3] ) {
                  alertVal = confirm(`Player ${winArray[i][j]} won!`);
                };  
              };
            };
          };
          if (alertVal) {
            //Add some sort of post value through django
            window.location.reload();
          };
        };
        

    </script>
</html>
